.card {
  max-width: 413px;
  position: relative;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0 20px;
  box-sizing: border-box;
}

.card__title {
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.card__like-button {
  width: 23px;
  height: 20px;
  background-image: url("../images/hoverheart.svg");
  background-color: transparent;
  background-size: cover;
  border: none;
  opacity: 40%;
  margin-right: 8px;
  padding: 0;
}
.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url(../images/redheart.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/likedhover.svg);
}

.card__delete-button {
  background-image: url(../images/deletebtn.svg);
  position: absolute;
  background-size: cover;
  width: 32px;
  height: 32px;
  top: 18px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.card__delete-button:hover {
  background-image: url(../images/deletebtnhover.svg);
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px 8px 8px 8px;
}

@media screen and (max-width: 1280px) {
  .card__image {
    width: 413px;
    height: 413px;
  }
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }

  .card__image {
    height: 288px;
    max-width: 288px;
  }

  .card__like-button {
    height: 18px;
    width: 20px;
  }
  .card__content {
    padding: 14px 0 20px;
    max-width: 288px;
  }
}
