.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px 8px 8px 8px;
}

.modal__container_type_preview {
  max-width: fit-content;
  padding: 0;
  margin: 0;
  background: transparent;
  position: relative;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-color: transparent;
  border-style: none;
  position: absolute;
}

.modal__close-btn_type_preview {
  background-image: url(../images/Close\ Icon.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/Property\ 1=Variant2.svg);
}

.modal__close-btn_disabled {
  opacity: 0.5;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
}

.modal__input {
  padding: 16px 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border-radius: 8px 8px 8px 8px;
  border-width: 1px;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  color: red;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.1;
}

.modal__submit-btn {
  color: rgba(252, 245, 229, 1);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  width: 156px;
  padding: 18px 0;
  border-radius: 8px 8px 8px 8px;
  border-color: black;
  background-color: black;
}
.modal__submit-btn {
  cursor: pointer;
}

.modal__caption {
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 4px 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  border-radius: 8px 8px 8px 8px;
  border-width: 1px;
  width: fit-content;
}

@media screen and (max-width: 900px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__container_type_preview {
    padding: 0;
  }

  .modal__image {
    max-width: 100%;
  }

  .modal__close-btn_type_preview {
    padding: 0;
    top: -42px;
  }
}
